<h1><%= data.title %></h1>
<h2 class="article"><%= data.HotelName %></h2>]
<h3 class="article"><%= data.HotelLocation %></h3>
<article class="article">Rating: <%= data.rating %></article>
<article class="article">Number of Rooms: <%= data.rooms %></div>
<article class="article">Description:</article>
<article class="article"> <%= data.HotelDesc %></article>
